name: Docker Build

on:
  push:
    tags:
      - "*"
  workflow_dispatch:
  release:
    types: [published, edited]

jobs:
  scale-test1:
    runs-on: sh-k8s-runner
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - run: uname -a
      - run: npm install -g bats
      - run: bats -v
      - run: sudo apt update -y
      - name: Run a one-line script
        run: echo scale test 1 finished!
  
  build-and-push-images-linux-arm64:
    runs-on: sh-k8s-runner
    steps:
      - name: uname
        run: uname -a
      - name: Checkout
        uses: actions/checkout@v3
      - name: Read environment file
        run: cat .env >> ${GITHUB_ENV}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            opsworksco/aws-helm-kubectl
          tags: |
            type=raw,value=latest,enable=${{ endsWith(github.ref, github.event.repository.default_branch) }}
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2    
      - name: uname
        run: uname -a
      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          #platforms: linux/amd64,linux/arm64
          #platforms: ${{ matrix.platforms }}
          #platforms: linux/arm64
          build-args: |
            KUBE_VERSION=${{ env.KUBE_VERSION }}
            HELM_VERSION=${{ env.HELM_VERSION }}
            SOPS_VERSION=${{ env.SOPS_VERSION }}
            HELM_SECRETS_VERSION=${{ env.HELM_SECRETS_VERSION }}
            HELM_S3_VERSION=${{ env.HELM_S3_VERSION }}
            HELMFILE_VERSION=${{ env.HELMFILE_VERSION }}
            AWS_CLI_VERSION=${{ env.AWS_CLI_VERSION }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
  build-and-push-images-linux-amd64:
    runs-on: sh-k8s-runner
    steps:
      - name: uname
        run: uname -a
      - name: Checkout
        uses: actions/checkout@v3
      - name: Read environment file
        run: cat .env >> ${GITHUB_ENV}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            opsworksco/aws-helm-kubectl
          tags: |
            type=raw,value=latest,enable=${{ endsWith(github.ref, github.event.repository.default_branch) }}
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: uname
        run: uname -a
      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          #platforms: linux/amd64,linux/arm64
          #platforms: ${{ matrix.platforms }}
          #platforms: linux/amd64
          build-args: |
            KUBE_VERSION=${{ env.KUBE_VERSION }}
            HELM_VERSION=${{ env.HELM_VERSION }}
            SOPS_VERSION=${{ env.SOPS_VERSION }}
            HELM_SECRETS_VERSION=${{ env.HELM_SECRETS_VERSION }}
            HELM_S3_VERSION=${{ env.HELM_S3_VERSION }}
            HELMFILE_VERSION=${{ env.HELMFILE_VERSION }}
            AWS_CLI_VERSION=${{ env.AWS_CLI_VERSION }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      # - name: Repository Dispatch
      #   if: github.event_name != 'pull_request'
      #   uses: peter-evans/repository-dispatch@v2
      #   with:
      #     token: ${{ secrets.REPO_ACCESS_TOKEN }}
      #     repository: opsworksco/aws-helm-kubectl
      #     event-type: image-with-plugins
      #     client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'